<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    <button
      routerLink="/"
      class="btn btn-link">
      На главную
    </button>
  </div>

  <div class="info">
    <strong>Автор</strong>
    <small>06.10.19</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci amet id maxime rerum sed suscipit? Aliquam consequuntur debitis deleniti ducimus eaque enim fuga, inventore minima modi nihil odio perspiciatis quaerat velit voluptate voluptatem. Doloremque inventore molestias odit quam quod?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci amet id maxime rerum sed suscipit? Aliquam consequuntur debitis deleniti ducimus eaque enim fuga, inventore minima modi nihil odio perspiciatis quaerat velit voluptate voluptatem. Doloremque inventore molestias odit quam quod?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci amet id maxime rerum sed suscipit? Aliquam consequuntur debitis deleniti ducimus eaque enim fuga, inventore minima modi nihil odio perspiciatis quaerat velit voluptate voluptatem. Doloremque inventore molestias odit quam quod?</p>
  </div>
</div>

